* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.logo {
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 40px;
    border: 2px solid white;
    /* rgba(40, 40, 40, 0.852);*/
} 

/*inicia Código efecto logo*/
.logo {
	animation-duration: 5s;
	animation-name: logo;
	animation-iteration-count: infinite;
}

.container-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    p{
    text-align: justify;
    }
}

@keyframes logo{
	from {
		-webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
	}
50%{
		-webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
	} 
	to {
		-webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
		}
}
/*Fin Código efecto logo*/


@media only screen and (max-width:579px){
    /*destaca con un bloque las opciones del menu hamburguesa, y cambia el color para visualizar mejor*/
    .nav-item :hover{
        background-color: hwb(43 31% 8% / 0.167);
        color:hwb(36 97% 1%);
    }
    /*Fin - destaca con un bloque las opciones del menu hamburguesa*/

    /*index inicia*/
    .contenido_ppal, .aside .inicio{
        padding-bottom: 20px;
    }
    .inicio .row .mtdiv{
            margin-top: 10px;
        }

    /*Frases inicia*/
    .frases{
        padding: 60px 20px 60px 20px;
    }
    /*Frases final*/

    /*Noticias inicia*/
    .formulario{
        padding-bottom: 20px;
    }
    /*Noticias final*/
   

}

@media only screen and (min-width:576px){
    /*index inicia*/
    .inicio .row{
    margin-top: 1dvh;
    }
    /*Index final*/

    /*Frases inicia*/
    .frases{
        padding: 80px 80px 80px 80px;
    }
    /*Frases final*/
}



