/*Contiene estilos que se utiliza fuertemente a la estructura web, etiquetas semanticas.*/

/*Inicio: Variables que se utilizan en la pagina layauts*/
$background_body:var(--background_body);
$background_header:var(--background_header);
$background_footer:var(--background_footer);
$background_nav:var(--background_nav);
$background_side:var(--background_side);
$background_side_trasparencia:var(--background_side_trasparencia);
$color_nav:var(--color_nav);
$color_footer:var(--color_footer);
$color_borde:var(--color_borde);
$color_header:var(--color_header);
$border_menu:var(--border_menu);
$background_menu:var(--background_menu);
/*Final: Variables que se utilizan en la pagina layauts*/

body { 
    width: 98%;
    /*max-width: 1000px;*/
    margin: 5px auto;
    /* background-color: $background_body;*/
    background-image: linear-gradient($background_body, hwb(39 16% 45%), $background_body);/*$background_body;*/
    color: #000;
    font-family: serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', ;
    text-shadow: 1px 1px 1px black;
    /* background: radial-gradient(circle, rgb(46, 43, 43),$background_body,rgb(108, 129, 66), rgb(77, 42, 36),$background_body);*/
    background: radial-gradient(circle,black,rgb(176, 122, 36),rgb(176, 122, 36),black,$background_body);
}

header{
    text-align: center;
    padding: 12px;
    .temas{
        z-index: 1000;
        background-color:$background_header;
        position:fixed;
        left: 0px;
        top: 0px;
        padding:.3em;
        color:$color_header;
        line-height: 1;
    }
}

.footer {
    height: 110px;
    background-color: $background_footer;
    padding: 20px;
    /*border: $color-borde;1px solid white;*/
    border:1px solid $color_borde!important;
    color: $color_footer;
    text-align: right;
    font-size: 10px;
    display: flex;   
    justify-content:space-between;
    p{
        font-size: 16px;
    }
    .redes {
        font-size: 30px;
    }
}

.navbar{
    background-color: $background_nav;
    border:1px solid $color_borde!important;
    .navbar-toggler-icon{
        border: 1px solid $border_menu!important;
        background-color: $background_menu;
    }
}

.nav-link{
    color:$color_nav;
    text-shadow: 0px 0px 10px  #dbf707eb; 
    /*padding: 20px;*/
    background-color: $background_nav;
    display: flex;
    justify-content: center;
}