/*Estilos contacto inicio*/
.contacto{
    .formulario{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.contacto{ 
    .imagen{
    /* overflow: hidden;*/
    background-image:  url(../imagen/imagen_contacto.png);    
    background-size: cover;
    background-position:top;
    }
}
/*Estilos contacto fin*/