/*Estilos contacto inicio*/ 

/*INICIO: Variables que se utilizan en la pagina contacto*/
$background_form_contacto:var(--background_form_contacto);
$color_form_contacto:var(--color_form_contacto);
$color_borde:var(--color_borde);
/*FIN: Variables que se utilizan en la pagina contacto*/

.form-contacto{
    background: $background_form_contacto;
    border:1px solid $color_borde;
}
.contacto{
    .formulario{
        padding-top: 20px;
        padding-bottom: 20px;
        color:$color_form_contacto;
    }
}
.contacto{ 
    .imagen{
    /* overflow: hidden;*/
    border:1px solid $color_borde!important;
    background-image:  url(../imagen/imagen_contacto.png);    
    background-size: cover;
    background-position:top;
    }
}
/*Estilos contacto fin*/