/*Estilos Frases inicia*/ 

/*Inicio: Variables que se utilizan en la pagina frasescitas*/
$color_borde:var(--color_borde);
/*Fin: Variables que se utilizan en la pagina frasescitas*/

.precamino{
    /* overflow: hidden;*/
    background-image:  url(../Imagen/precamino.jpg);    
    background-size: cover;
    background-position:top;
    border:1px solid $color_borde!important;
}
@font-face {
    font-family:The California;
    src: url(../fuentes/TheCalifornia.ttf);
}
.frases{
    h1,h2,
    p{
        font-family: The California;
        font-size: 50px;
        text-shadow: 1px 2px 0px white;
    }
}
/*Estilos Frases fin*/