
.contenido_ppal{
    margin: 0px;
    text-align: justify;
    background-image: url(../Imagen/giordano_bruno_biografia.jpg);    
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
    background-repeat: no-repeat;  
}
.sub-contenido{
    margin: 0px;
    background-color:rgba(51, 51, 51, 0.562);
    color: white;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    padding-bottom: 210px;
}
p.Letra-capital::first-letter{
	font-size:5em;
	/*font-family:serif;*/
	margin:8px;
	float:left;
}
.sub-contenido2{
    margin: 0px;
    background-color:rgba(51, 51, 51, 0.562);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 116px;
}
.img-aside1{
    background-image: url(../Imagen/giordano_bruno_b.jpg);
    background-size: cover;
    height: 200px;
    border-radius: 49%;
    margin-bottom: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-aside2{
    background-image: url(../Imagen/muerte_GB.jpg);
    background-size: cover;
    height: 200px;   
    border-radius:49px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cita{
    margin: 0px;
    background-color:rgba(51, 51, 51, 0.562);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
}
.card-body{
    background: rgb(46, 43, 43);
    color: white;
}
.fondo{
    margin: 0px;
    text-align: justify;
    background-image:  url(../Imagen/giordano_bruno_biografia.jpg);  
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
    background-repeat: no-repeat;
}