/*Estilos noticias inicio*/
.contenedor_imagen{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.imagen_noticia{ 
    height: 350px;
    background-image: url(../Imagen/img_contacto.jpg);    
    background-size: cover;/*contain;/*cover;*/
    background-position:top;
}
/*Estilos noticias fin*/