$color-borde:var(--color_borde);
/*Estilos noticias inicio*/
.noticia{
    border:1px solid $color_borde!important;
    .border{
        border:1px solid $color_borde!important;
    }
}

/*Estilos noticias fin*/